<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jangan rewrite jika file/folder sudah ada
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d

    # Bypass: don't rewrite index.php
    RewriteCond %{REQUEST_URI} !/index.php [OR]
    
    # Don't rewrite specific paths
    RewriteCond %{REQUEST_URI} ^/phpmyadmin [OR]
    RewriteCond %{REQUEST_URI} ^/\.git [OR]
    RewriteCond %{REQUEST_URI} ^/assets [OR]
    RewriteCond %{REQUEST_URI} ^/pdf [OR]
    RewriteCond %{REQUEST_URI} ^/list [OR]
    RewriteCond %{REQUEST_URI} ^/SQL [OR]
    RewriteCond %{REQUEST_URI} ^/_obfuscated
    
    RewriteRule ^ - [L]

    # Rewrite semua yang tersisa ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]

</IfModule>


